<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>RGB LED Controller</title>
		<link rel="stylesheet" href="/public/stylesheets/style.css">
	</head>

	<body>
		<div class="content">
			<div class="title">
				<h3>Arduino And NodeJS LED RGB Controller</h3>
			</div>
			<div class="colorElements">
				<div class="sliders">
					<div class="slider">
						<input type="range" id="red" value="0" max="255">
						<input type="number" id="redInput" value="0">
					</div>
					<div class="slider">
						<input type="range" id="green" value="0" max="255">
						<input type="number" id="greenInput" value="0">
					</div>
					<div class="slider">
						<input type="range" id="blue" value="0" max="255">
						<input type="number" id="blueInput" value="0">
					</div>

				</div>
				<div class="showColor">
					<div id="color"></div>
					<input id="colorInput" type="color">
				</div>
			</div>

		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script type="module" src="/public/javascripts/application.js"></script>
	</body>

</html>
