doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title RGB LED Controller
		link(rel='stylesheet', href='/public/stylesheets/style.css')
	body
		.content
			.title
				h3 Arduino And Node.js Common Cathode RGB LED Controller
			.colorElements
				.showColor
					#color
					input#colorInput(type='color')
				.sliders
					.slider
						input#red(value='0', max='255', type='range')
						input#redInput(value='0', type='number')
					.slider
						input#green(value='0', max='255', type='range')
						input#greenInput(value='0', type='number')
					.slider
						input#blue(value='0', max='255', type='range')
						input#blueInput(value='0', type='number')
			.bottom_buttons
				p#about|About
		script(src='/socket.io/socket.io.js')
		script(type='module', src='/public/javascripts/application.js', crossorigin="use-credentials")
