.content {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.colorElements {
	margin-top: 40px;
}

.title {
	text-align: center;
	font-family: 'Arial';
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sliders {
	margin-top: 40px;
}

.slider {
	display: flex;
	padding-bottom: 10px;
}

.showColor {
	display: block;
	margin: 0 auto;
}

#color:hover {
	cursor: pointer;
}

#color {
	width: 150px;
	height: 150px;
	border: 5px solid rgba(0, 0, 0, 0.329);
	background-color: rgb(0, 0, 0);
	margin-top: 2px;
	margin: 0 auto;
}

#colorInput {
	display: none;
}

input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 15px;
	background: #D3D3D3;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-right: 10px;
	margin-top: 4px;
}

input[type="range"]:hover {
	opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 0;
	background: #4CAF50;
	cursor: pointer;
	border: none;
}

input[type=range]::-moz-range-track {
	opacity: 0;
}

#red::-webkit-slider-thumb {
	background: red;
}

#red::-moz-range-thumb {
	background: red;
}

#green::-webkit-slider-thumb {
	background: green;
}

#green::-moz-range-thumb {
	background: green;
}

#blue::-webkit-slider-thumb {
	background: blue;
}

#blue::-moz-range-thumb {
	background: blue;
}

input[type="number"] {
	border: 1.5px solid #8c7eea;
	height: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
